.home-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
  transition: background-color 0.2s ease;
}

.home-button:hover {
  background-color: #0056b3;
}